# Ignorar arquivos de cache do Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.spec

# Ignorar ambientes virtuais
venv/
exported/
dist/
build/
logs/
toolkit/
.env/

# Ignorar arquivos do sistema
.DS_Store

# Ignorar dependências e logs
*.log

# Ignorar arquivos de configuração do editor
.vscode/
.idea/
*.swp
